.App {
  text-align: center;
  margin-top: 10px;
  margin-left: 400px;
  font-family:'Oswald';
}

h1{
  text-transform: uppercase;
  text-align: start;
  color: blueviolet;
  font-weight: 600;
  text-decoration:dashed blueviolet;
}
.box_outer
{
  width: 361px ;
  border: 3px solid black;
}
input[type="button"]
{
  width: 120px;
  height: 120px;
  background-image:url(./img/1.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  filter: contrast(90%);
  color: white;
  font-size: 40px;
  border: 2px solid white;
  border-radius: 10px;
}
input[type="button"]:hover{
  width: 120px;
  height: 120px;
  font-size: 50px;
  color: gold;
  font-weight: 900;
  border: 5px solid gold;

}
input[type="button"]:active{
  width: 120px;
  height: 120px;
  font-size: 50px;
  color: rgb(255, 0, 0);
  font-weight: 900;
  border: 5px solid rgb(255, 0, 0);
}
input[type="text"]
{
  width: 300px;
  height: 30px;
  border: 3px solid black;
  margin: 30px;
  margin-left: 0px;
  color: blue;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
